/env/
/.quarto/
.Rproj.user
/site/
/.jupyter_cache

# Python/Julia (if used)
__pycache__/
.ipynb_checkpoints/

# RStudio project files
.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata

# Quarto cache and intermediate files
*_files/
*_cache/
*.knit.md
*.utf8.md

_freeze/
_site/