numpy
seaborn
matplotlib
scipy
bokeh
daft
dataheroes
ipywidgets
numpy
pandas
plotly
altair
arviz
pymc
bambi
graphviz
statsmodels
lmdiag
fastprogress
pyjags
numba
pyyaml
pyarrow
pyreadstat
lifelines
watermark
plotnine
great_tables
CausalPy
pymc-learn