numpy
wheel
pybind11
seaborn
matplotlib
scipy
bokeh
daft-pgm
dataheroes
ipywidgets
pandas
plotly
altair
arviz
pymc
bambi
graphviz
statsmodels
lmdiag
fastprogress
numba
pyyaml
pyarrow
pyreadstat
lifelines
watermark
plotnine
great_tables
CausalPy
pymc-learn
attrs
shinylive
jupyter
nbformat
scipy
#pyjags

