## data manipulation
numpy
pandas
statsmodels
scipy
sympy
numba
pyarrow
CausalPy
## notebooks
jupyter
nbformat
fastprogress
## visualization
matplotlib
seaborn
bokeh
graphviz
daft-pgm
plotly
altair
arviz
lmdiag
ipywidgets
plotnine
lifelines
great_tables
### MCMC stuff
pymc
#pymc-learn
bambi
#pyjags
pyreadstat
shinylive
##low lev and utilsel 
wheel
watermark
pybind11
attrs
pyyaml