/* css styles */
/* css styles */
@counter-style repeating-emoji {
    system: cyclic;
    symbols: "🌰" "🥜" "🥔" "🥥"; // unicode code point
    suffix: " ";
  }
  
  .tldr ul {
    list-style-type: repeating-emoji;
  }

.solution {
  background-color: #f0f8ff; /* Light blue background */
  border-left: 5px solid #4682b4; /* Blue left border */
  padding: 15px;
  margin-bottom: 20px;
}

.solution h2 { /* Styling for headings within a solution */
  color: #2f4f4f;
}